
.row {
    background-color: #333;
    height: 70px;
}

.logo {
    height: 40px;
    position: absolute;
    top: 35px;
    transform: translateY(-50%);
    margin-top: 4px;
    left: 15px;
    z-index: 99;
    opacity: 1;
}

.logo:hover {
    opacity: 0.9;
}

.col   {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.search-container {
    display: flex
}

.search-field {
    margin-right: -5px !important;
    border: none !important;
}

.search-button {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px !important;
    padding: 6px 10px 0px 10px !important;
    border: none !important;
}

.icon-container {
    height: 50px;
    width: 50px;
    /* background-color: red; */
    text-align: center;
}

.icon-basket {
    padding-top: 18%;
    font-size: 35px;
}

.icon-menu {
    padding-top: 27%;
    font-size: 30px;
}

.icon {
    color: white !important
}

.icon-basket:hover {
    font-size: 45px;
    padding-top: 10%;
    transition: all 200ms ease-in-out;
}

/* TODO: animate icon-menu on hover */
.icon-menu:hover {
    font-size: 37px;
    padding-top: 21%;
    transition: all 200ms ease-in-out;
}

.large {
    font-size: 37px;
    padding-top: 21%;
}

.search-buton {
    border: none !important;
}

@media screen and (max-width: 500px) {
    .logo {
      display: none;
    }
  }