
.row {
    background-color: #333;
    height: 70px;
}

.logo {
    height: 40px;
    position: absolute;
    top: 35px;
    transform: translateY(-50%);
    margin-top: 4px;
    left: 10px;
    z-index: 99;
    opacity: 1;
}

.logo:hover {
    opacity: 0.9;
}


.col   {
    display: flex;
    align-items: center;
}

.search-container {
    display: flex
}

.search-field {
    margin-right: -5px !important;
    border: none !important;
}

.search-button {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    border: none !important;
}

.icon {
    font-size: 30px;
    color: white !important
}

.icon:hover {
    font-size: 2.7em;
    transition: all 200ms ease-in-out;
}

.small {
    font-size: 2em;
}

.large {
    font-size: 2.7em;
}

@media screen and (max-width: 576px) {
    .logo {
      display: none;
    }
  }