
.row {
    background-color: #333;
    height: 70px;
}

.logo {
    height: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 4px;
    left: 8px;
    z-index: 99;
    opacity: 1;
}

.logo:hover {
    opacity: 0.9;
}


.col   {
    display: flex;
    align-items: center;
}

.icon {
    font-size: 30px;
    color: white !important
}

@media screen and (max-width: 576px) {
    .logo {
      display: none;
    }
  }