
.row {
    background-color: #333;
    height: 70px;
}

.logo {
    height: 40px;
    position: absolute;
    top: 35px;
    transform: translateY(-50%);
    margin-top: 4px;
    left: 10px;
    z-index: 99;
    opacity: 1;
}

.logo:hover {
    opacity: 0.9;
}

.col   {
    display: flex;
    align-items: center;
}

.search-container {
    display: flex
}

.search-field {
    margin-right: -5px !important;
    border: none !important;
}

.search-button {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px !important;
    padding: 6px 10px 0px 10px !important;
    border: none !important;
}

.icon-container {
    height: 50px;
    width: 40px;
    /* background-color: red; */
    text-align: center;
}

.icon-basket {
    padding-top: 17%;
}

.icon-menu {
    padding-top: 23%;
}

.icon {
    font-size: 30px;
    color: white !important
}

.icon-basket:hover {
    font-size: 2.8em;
    padding-top: 9%;
    transition: all 200ms ease-in-out;
}
.icon-menu:hover {
    font-size: 2.8em;
    padding-top: 5%;
    transition: all 200ms ease-in-out;
}

.small {
    font-size: 2em;
}

.large {
    font-size: 2.7em;
}

@media screen and (max-width: 576px) {
    .logo {
      display: none;
    }
  }