.header {
    margin: 5px auto;
    font-size: 3em;
    display: flex;
}

.arrow-left {
    left: 0;
}

.cart-list {
    padding: 7px;
}

.image {
    width: 100%;
}

.quantity {
    padding: 1px 10px 6px 10px;
    border: 1px solid grey;
    font-size: 20px;
}

.list-container {
    margin: 0px 50px;
}

.price {
    color: red
}

.line-price, .line {
    height: 1px;
    background-color: #ccc;
    border: none;
}

.line {
    margin: 20px 0px;
}

.price-container {
    margin: auto !important;
}

.quant,
.price {
    margin-top: 5px;
}

.image {
  max-width: 130px;
  max-height: 140px;
}