.header {
    font-size: 3em;
    margin: auto;
}

.cart-list {
    padding: 7px;
}

.image {
    width: 100%;
}

.quantity {
    padding: 1px 10px 6px 10px;
    border: 1px solid grey;
    font-size: 20px;
}

.list-container {
    margin: 0px 50px;
}

.price {
    color: red
}

.line-price, .line {
    height: 1px;
    background-color: #ccc;
    border: none;
}

.line {
    margin: 30px 0px;
}

.price-container {
    margin: auto !important;
}

.col3 {
    /* display: flex !important; */
    /* justify-content: flex-end; */
}

.quant,
.price {
    margin-top: 20px;
}


@media only screen and (min-width: 800px) {
    .image {
      max-width: 300px;
      max-height: 300px;
    }
  }