.footer-container {
    margin-top: 30px;
    position:relative;
    bottom: 0;
    width: 100%;
    background-color: rgb(42 42 42);
}

.footer-heading {
    color: white;
    font-size: 1.6em;
    margin-top: 30px;
    text-align: center;
}

.footer-info {
    color: white;
    text-align: center;
    line-height: 2em;
    font-weight: 200;
}

.icon-contact {
    font-size: 1.5em;
    color: white;
}


.line {
    background-color: grey; 
    margin: 10px;
}

.map-container {
    text-align: center;
}

/* remove some junk text from the map */
#mapDiv > div > div > div:nth-child(4) {
    display: none;
}

.google-maps {
    width: 200px;
    height: 105px;
    margin-left: 4px;
    border: none;
}
@media screen and (max-width: 576px) {
    .footer-questions {
      font-size: 1.5em;
    }
    .btn-question {
        height: 30px;
        font-size: 10px;
        margin: 10px;
    }
  }

@media screen and (max-width: 876px) {
    .google-maps {
       display: none;
    }
}