.product-item {
    height: 100%;
    padding: 8px !important;
}

.ant-card-body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.product-picture {
    object-fit: cover;
    max-width: 100%;
    height: 250px;
    border-radius: 3px !important;
}

.product-button {
    margin-top: 15px;
}

.product-button:hover {
    transform: translateY(-2px);
}

.product-button:active {
    transform: translateY(0);
}

.product-title {
    color: #333;
    margin-top: 10px !important;
    text-transform: capitalize;
    margin-bottom: 8px;
    font-weight: 500 !important;
    letter-spacing: 1.1px;
}

.product-item .ant-card-body {
    all: initial;
}

.product-price {
    margin-top: 11px;
}

.product-details {
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-family: 'Lato', sans-serif;
}