/*.products-filter {*/
/*    padding: 11px;*/
/*}*/

/*.products-filter > * {*/
/*    padding: 4px;*/
/*}*/

.filter-buttons {
    display: flex;
    justify-content: flex-end;
}

.filter-buttons > button {
    margin: 5px;
}