.categories-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 12px;
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    position: relative;
}

.categories-card a {
    color: #151515;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 0 3px 5px #ddd;
}

.categories-card img {
    position: absolute;
    right: 1%;
    width: 100%;
    max-width: 50px;
    height: auto;
}
